body{
  background-color: #efd9d1;
  text-align: center;
}

#tfg {
  background-color: #045762;
  padding: 30px;
  color: #efd9d1;
}
h2 {
  background-color: #bbbbbb;
  padding: 30px;
  color:#045762;
font-family: "Lucida Bright" Georgia, serif;
font-style:normal;
font-size: 26px;
font-weight:bold;

}

button {
color: #0099CC;
background: transparent;
border: 2px solid #0099CC;
border: none;
      color: black;
      padding: 16px 32px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
}
button:hover{
      background-color: #ea97ad;
      color: black;

}

p{
  color: black;
  display: none;
  font: 100% serif;
  text-align:left;
  margin-left: 80px;
  margin-right: 80px;
  line-height: 20pt;
}
